# MONGODB_URI="mongodb+srv://tongist:c9LHzZBWAdcmQ4x3@cluster0.qudh5.mongodb.net/moviesdb?retryWrites=true&w=majority&appName=Cluster0"
MONGODB_URI="mongodb+srv://<username>:<password>@cluster0.qudh5.mongodb.net/moviesdb?retryWrites=true&w=majority"
PORT=5000
JWT_SECRET=2kQ1fMlgJlzdaG8JMXk/rJb4RfLPPuCtg/xaSb5OGvSEV8xQ2ufRo3vRPu3QerlvYgotUU8HxKPqJrTlGxg7jZSaQpTwHDwwAssoozGN77FG6l+1esNAX3jkBRR23nXV95iSsoxv8kBKy7w0edNqem5plUr6axsgxZOYP5C+MkhDcr+jUcR27MzhAw+ws96skmencowEcnzh3LullRg+p1uORcabfwwvwQJ7L0FsUERS0juqhAjddzoMyDDSslgyoEtO9D/toEPqPJ3R1gnlthJdc8MZ58SoVFlCnio7tAhDrpxKZiMDFkAaW1A0S3R8hf5WyeD/eCX2v5PWM0UzTg==